$base-color: #5ac268;

button {
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: $base-color;
  //   color: #212121;
  z-index: 1;
  background: #f3f3f3;
  position: relative;
  font-size: 17px;

  transition: all 250ms;
  cursor: pointer;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  //   background-color: #212121;
  background-color: $base-color;

  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}
