<!-- <div class="bg-white p-6 rounded shadow-md w-64">
  <form>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"
        >Choose your payment method:</label
      >
      <label class="radio-container"
        >CARD
        <input
          type="radio"
          name="option"
          value="option1"
          [(ngModel)]="selectedOption"
          (change)="setProceed()"
        />
        <span class="checkmark"></span>
      </label>
      <label class="radio-container"
        >UPI Payment
        <input
          type="radio"
          name="option"
          value="option2"
          [(ngModel)]="selectedOption"
          (change)="setProceed()"
        />
        <span class="checkmark"></span>
      </label>
      <label class="radio-container"
        >COD: Cash On Delivery
        <input
          type="radio"
          name="option"
          value="option3"
          [(ngModel)]="selectedOption"
          (change)="setProceed()"
        />
        <span class="checkmark"></span>
      </label>
    </div> -->
<!-- <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded">
      Submit
    </button> -->
<!-- <button
      type="submit"
      [disabled]="!proceed"
      class="bg-indigo-600 text-white px-4 py-2 rounded"
    >
      Proceed
    </button>
  </form>
</div> -->
