.home-container {
  margin: 1rem;
  padding: 7rem;
  padding-top: 2rem;
  h2 {
    font-size: 2rem;
    font-weight: 400;
  }
  .category-grid {
    .category-card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: center;
      width: 60%;
      height: 200px;
      max-width: 130px;
      margin: 20px;
      padding: 1em;
    }
    flex-wrap: wrap;
  }
}


@media (max-width: 768px) {
  
  .home-container {
    margin: .5rem;
    padding:0;
    padding-top: 1rem;
    h2 {
      font-size: 15px !important;
      color: #5ac268;
      font-weight: bold !important;
    }
  }
  .category-card {
    width: 50% !important;
    height: 160px !important;
    max-width: 100px !important;
    padding: 0.4em !important;
  }
}
