.create-account {
    font-size: 16px;
    color: #fc8019;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
   
}

// .create-account:hover {
//     background-color: #0056b3;
// }


.button-style{
    width: 60vh;
    height: 8vh;
    border-radius: 5px;
    cursor: pointer;
    border-color: #fc8019;
    background-color: #fc8019;
    font-style:unset;
    color: white;
}