@import "../../../../../styles.scss";

.flexActive {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  color: black;
  gap: 0.6em;

  cursor: pointer;
  span {
    font-size: 1.2rem;
  }
}
p:hover,
span:hover {
  color: $base-color;
}

@media (max-width: 671px) {
  .links span {
    display: none;
  }
  .active {
    top: 0;
  }
}
