@import "../../../../styles.scss";

* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  max-height: 100px;
  top: 0;
  position: sticky;
  background-color: $white-color;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  padding: 1rem;
  p:hover,
  span:hover {
    color: $base-color;
  }
  .nav__logo {
    .nav-brand {
      font-size: 2rem;
      font-weight: 500;
    }
    gap: 10px;
  }
  .middle {
    display: flex;
    gap: 2.5em;
  }
}

.flexActive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 671px) {
  .navbar {
    bottom: 0;
    top: auto;
    position: absolute;
  }
  .middle {
    width: 100%;
    justify-content: space-around;
  }
  .nav__logo {
    display: none !important;
  }

  .nav__logo {
    justify-content: center;
    flex: 1;

    .nav-brand {
      flex: none;
      font-size: 1.2rem !important;
    }
    img {
      width: 25px;
    }
  }
  .nav-ham {
    display: block !important;
  }
}
