

.invalid-email .mat-form-field-outline {
    border-color: red; /* Example: Set border color to red */
  }


  .mat-mdc-text-field-wrapper {
    width: 60vh;
    z-index: 0;
}

mat-form-field{
    width: 60vh;
   
}